<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livros</title>
    
</head>
<body>
  
  <center>
    <h1>Biblioteca Virtual</h1>
    <p>Cadastre-se para ter acesso aos melhores livros</p>
      <fieldset style="width: 500px;">
        
    <form action="/cadusuario" method="POST">
        <p>Nome</p>
        <input type="text" name="nome" placeholder="Digite seu nome completo" required>
        <p>Idade</p>
        <input type="number" name="idade" placeholder="Digite sua idade" required>
        <p>Endereço</p>
        <input type="text" name="endereco" placeholder="Digite seu endereço" required>
        <p>E-mail</p>
        <input type="text" name="email" placeholder="Digite seu email" required>
        <p>Telefone</p>
        <input type="tel" name="telefone" pattern="\([0-9]{2}\)[9]{1}[0-9]{4}-[0-9]{4}" placeholder="(xx)9xxxx-xxxx" required>
        <p>Senha</p>
        <input type="password" name="senha" placeholder="Cadastre uma senha" required><br><br>
        <button type="submit">Cadastrar</button>
    </form>
</fieldset>
</center>
</body>
</html>