<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livros</title>
    
</head>
<body>
  
  <center>
    <h1>Biblioteca Virtual</h1>
    <p>Cadastro efetuado com sucesso</p>
    <p>Agora faça login!</p>
      <fieldset style="width: 500px;">
        
    <form action="/login" method="POST">
        <p>E-mail</p>
        <input type="email" name="email">
        <p>Senha</p>
        <input type="password" name="senha"><br><br>
        <button type="submit">Entrar</button>
    </form>
</fieldset>
</center>
</body>
<body>
  
  <center>
    
    <p>Não tem cadastro ainda cadastre-se aqui</p>
        
    <form action="/cadastrarusuario" method="POST">
        
        <button type="submit">Cadastrar</button>
    </form>
</center>
</body>
</html>