<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livros</title>
</head>
<body>
    <center>
        <h1>Biblioteca Virtual</h1>
        <p>Pesquise aqui o seu livro favorito!</p>
          <fieldset style="width: 500px;">
    <form action="/pesquisar" method="POST">
        <p>Titulo do Livro</p>
        <input type="text" name="titulo">
        <button type="submit">Pesquisar</button>
    </form>
</fieldset>
</center>
</body>
</html>